services:
  db_postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - 5432:5432

  db_mongodb:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - 27017:27017

  spring_backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db_postgres
      - db_mongodb
    ports:
      - 8080:8080